* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
}

/*flex垂直居中*/
.flex-v-center {
  display: flex;
  align-items: center;
}

/*一般按钮*/
.p-btn {
  transition: var(--time-normal);
  box-sizing: border-box;
  padding: 4px 10px;
  border-radius: 5px;
  cursor: pointer;
  color: var(--text-color-1);
}
.p-btn:hover {
  background-color: var(--btn-hover-color);
}
/*图标*/
i {
  color: var(--text-color-1);
}
/*图片*/
img {
  -webkit-user-drag: none;
}

/*文本*/
.text {
  color: var(--text-color-1);
}

/*悬浮指针*/
.pointer:hover {
  cursor: pointer;
}

/*悬浮高亮的文本*/
.text-hover {
  transition: var(--time-normal);
}
.text-hover:hover {
  color: var(--primary-color);
}
/*二级文本*/
.sub-text {
  color: var(--text-color-2);
}

a {
  color: unset;
}
.ml-5 {
  margin-left: 5px;
}
.mr-5 {
  margin-right: 5px;
}
.mt-5 {
  margin-top: 5px;
}
.mb-5 {
  margin-bottom: 5px;
}
.ml-10 {
  margin-left: 10px;
}
.mr-10 {
  margin-right: 10px;
}
.mt-10 {
  margin-top: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
