.common {
  --time-fast: 0.2s;
  --time-normal: 0.3s;
  --time-long: 1s;
  --user-header-height: 50px;
  --user-main-width: 1300px;
  --admin-header-height: 60px;
  --admin-sider-width: 200px;
  --border: 1px solid var(--border-color-1);
  user-select: none;
}
[theme="light"] {
  --primary-color: #18a058;
  --primary-color-hover: #be382e;
  --btn-hover-color: #f3f3f5;
  --bg-color-1: #fff;
  --bg-color-2: #f2f2f2;
  --bg-color-3: #ddd;
  --text-color-1: #000;
  --text-color-2: #808080;
  --skeleton-color-1: #ddd;
  --skeleton-color-2: #c5c5c5;
  --border-color-1: #eee;
  --box-shadow-color: #0000009c;
  --mask-color: #00000067;
  --scroll-thumb-color: #8787876b;
  --sider-color: #011e3a;
}

[theme="dark"] {
  --primary-color: #63e2b7;
  --primary-color-hover: #cb342a;
  --btn-hover-color: #343438;
  --bg-color-1: #18181c;
  --bg-color-2: #434343;
  --bg-color-3: #4d4d4d;
  --text-color-1: #fff;
  --text-color-2: #818181;
  --skeleton-color-1: #414141;
  --skeleton-color-2: #2e2e2e;
  --border-color-1: #2d2d30;
  --box-shadow-color: #0000009c;
  --mask-color: #00000067;
  --scroll-thumb-color: #7f7f7f4d;
  --sider-color: #001529;
}
